@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}

body{
    font-family: 'Cute Font';
    font-style: normal;
    font-optical-sizing: auto;
}

/*Colores*/
:root{
    --color__principal: #3a0781; 
    --color__secundario: #711159; 
    --color__terciario: #91931c; 
    /*colores estandar*/
    --color__blanco: #ffffff; 
    --color__negro: #000000; 
}

nav{
    background-color: var(--color__secundario);
    height: 80px;
    width: 100%;
}

label.logo{
    color: var(--color__blanco);
    font-size: 35px; 
    line-height: 80px;
    padding: 0 20px;
    font-family: "Kaisei Tokumin", serif;
    font-weight: 400;
    font-style: normal;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 7px;
}

nav ul li a{
    color: var(--color__blanco); 
    font-size: 35px;
    font-family: 'Cute Font';
    font-style: normal;
    font-weight: 400;
}

a:hover{
    background-color: var(--color__terciario);
    transition: .1s;
}

.checkbtn{
    font-size: 30px;
    color: var(--color__blanco);
    float: right;
    line-height: 90px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
/* . para clase y # para identificador*/

#check{
    display: none;
}

@media (max-width: 752px){
    label.logo{
        font-size: 15px;
        margin-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }
}

@media(max-width:858px){
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--color__principal);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 19px;
    }
    a:hover{
        background: var(--color__terciario);
    }

    #check:checked ~ ul{
        left: 0;
    }
}

/* Sección de imagen y bienvenida a la página*/

.hero{
    background: linear-gradient(to bottom, #3a0781b5, #91931c00), url("https://media-cdn.tripadvisor.com/media/photo-c/1280x250/03/ec/07/79/shibuya-center-town.jpg");
    background-size: cover; 
    height: 50vh;
    text-align: center;
    border-radius: 0px 0px 90px 0px;
    
}

h2{
    color: var(--color__blanco);
    font-size: 80px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h3{
    color: var(--color__blanco);
    font-size: 35px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}




